body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000000; /* Background color */
    color: #fff; /* Text color */
    font-family: 'Arial', sans-serif;
}

.breathing-circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #497fc6; /* Circle border color */
    animation: breathe 4s infinite alternate;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #497fc6; /* Circle color */
    border-radius: 50%;
}

@keyframes breathe {
    0% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1.2);
    }
}

p {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: 100;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 2rem;
}

.below {
    font-size: 12px;
    margin-top: -0.8rem;
    font-style: italic;
}
